/* Copyright 2013-2015 etc Chris Tabor. See https://github.com/christabor/css-progress-wizard/blob/master/LICENSE for details. */

// colors
$point-bar-incomplete: #bbb !default;
$point-bar-complete: #65d074 !default;
$point-bar-active: #337AB7 !default;
$point-bar-hover: #5671d0 !default;
$point-bar-danger: #d3140f !default;
$point-bar-warning: #edb10a !default;
$point-bar-info: #5b32d6 !default;
$bubble-bg: #bbb !default;

// sizing
$bubble-size: 20px !default;
$bubble-line-thickness: 3px !default;
$border-thickness: 1px !default;
$darken-amount: 30% !default;

// style two
$two-incomplete: #969696 !default;
$two-incomplete-bg: #eeeeee !default;
$two-complete: #696969 !default;
$two-complete-bg: #ffffff !default;
$two-active: #ff862e !default;
$two-complete-line: #e6e6e6 !default;
$two-incomplete-line: #e6e6e6 !default;
$two-bubble-border: #ff862e !default;
$two-active-bubble-border: #ff862e !default;

$two-bubble-size: 20px !default;
$two-bubble-line-thickness: 3px !default;
$two-border-thickness: 2px !default;

// misc
$mobile-size: 400px !default;

// mixins
@mixin bubble-style($color) {
    color: $color;
    &:before{
        background: $color;
    }
    .bubble{
        background: $color;
        border-color: darken($color, $darken-amount);
    }
}

.point-bar{
    margin: 0px;
    padding: 0px;
    font-size: 80%;
    list-style: none;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.point-bar.stepped,.point-bar.block{
    display: flex;
    > li{
        flex: 1;
        padding: 0;
        position: relative;
        text-align: center;
        text-overflow: ellipsis;
        color: $point-bar-incomplete;
        &:hover{
            color: darken($point-bar-incomplete, $darken-amount);
        }
    }
}
.point-bar.stepped,.point-bar.block,.point-bar.stacked{
    > li{
        padding: 0px;
        .bubble{
            display: block;
            position: relative;
            margin: 0 auto 0.5em;
        }
    }
}
.point-bar.one,.point-bar.stacked{
    > li .bubble {
        width: $bubble-size;
        height: $bubble-size;
        background: $bubble-bg;
        border-bottom: $border-thickness solid darken($point-bar-incomplete, 20%);
    }
    // completed state
    > li.completed {
        @include bubble-style($point-bar-complete);
    }
    // current state
    > li.active {
        @include bubble-style($point-bar-active);
    }
}
.point-bar.stepped{
    // line connectors
    > li:before{
        width: 100%;
        content: '';
        display: block;
        position: absolute;
    }
    // remove after and befor line
    > li:before {
        left: 0;
    }
    > li:first-child:before{
        width: 50%;
        margin-left: 50%;
    }
    > li:last-child:before{
        width: 50%;
        margin-right: 50%;
    }
    > li .bubble{
        border-radius: 50%;
    }
}
.point-bar.one{
    > li:before{
        height: $bubble-line-thickness;
        background-color: $point-bar-incomplete;
        top: $bubble-size / 2 - $border-thickness;
    }
}
.point-bar.two{
    > li{
        color: $two-incomplete;
    }
    > li:before{
        height: $two-bubble-line-thickness;
        background-color: $two-incomplete-line;
        top: ($two-bubble-size + $two-border-thickness) / 2;
    }
    > li .bubble {
        width: $two-bubble-size;
        height: $two-bubble-size;
        background: $two-incomplete-bg;
        border: $two-border-thickness solid $two-incomplete-bg;
    }
    // completed state
    > li.completed {
        color: $two-complete;
        .bubble {
            background: $two-complete-bg;
            border-color: $two-bubble-border;
            &:after{
                width: 50%;
                height: 34%;
                content: '';
                display: block;
                transform: rotate(-45deg);
                margin: 19% 0px 0px 20%;
                border-left: $two-border-thickness solid $two-bubble-border;
                border-bottom: $two-border-thickness solid $two-bubble-border;
            }
        }
    }
    > li.active{
        color: $two-active;
        .bubble {
            background: $two-complete-bg;
            border-color: $two-active-bubble-border;
        }
    }
}
.point-bar.block{
    > li{
        .bubble{
            width: 99%;
            height: 12px;
            border-radius: 2px;
            background: $bubble-bg;
            box-shadow: inset -5px 0 12px rgba(0, 0, 0, 0.2);
            border-bottom: $border-thickness solid darken($point-bar-incomplete, 20%);
        }
        &.completed{
            color: $point-bar-complete;
            .bubble{
                background: $point-bar-complete;
                border-color: darken($point-bar-complete, $darken-amount);
            }
        }
    }
}
.point-bar.stacked{
    > li{
        text-indent: -10px;
        position: relative;
        &:before{
            left: 50%;
            height: 100%;
            content: '';
            display: block;
            position: absolute;
            width: $bubble-line-thickness;
            background-color: $point-bar-incomplete;
            margin-left: -$bubble-line-thickness / 2;
        }
        .bubble{
            border-radius: 50%;
        }
        .stacked-text{
            position: relative;
            z-index: 10;
            top: 0;
            margin-left: 60% !important;
            width: 45% !important;
            display: inline-block;
            text-align: left;
            line-height: 1.2em;
        }
    }
}

// state point bar
.point-bar.state{
    > li.danger{
        @include bubble-style($point-bar-danger);
    }
    > li.warning{
        @include bubble-style($point-bar-warning);
    }
    > li.info{
        @include bubble-style($point-bar-info);
    }
}

@media handheld, screen and (max-width: $mobile-size){
    .point-bar{
        font-size: 60%;
    }
}
